ul.breadcrumb__list li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
  font-size: 20px;
}

.breadcrumb__list li a {
  color: black;
  font-size: 20px;
}

.breadcrumb__list {
  display: flex;
  justify-content: start;
}