@import url("css/carousel.css");
@import url("css/modalmenu.css");
@import url("css/goods.css");
@import url("css/breadcrumbs.css");
@import url("css/itempage.css");
@import url("css/mycart.css");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 32px;
  width: 100%;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  /* margin: 0 auto; */
  padding: 0 50px;
  height: fit-content;
}

#hot {
  margin: 0;
  width: 100%;
  background-color: #CCFF00;
  height: 60px;  
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hot__inner {
  width: 100%;
  animation: ticker 20s linear infinite;
  -webkit-transform-style: preserve-3d;

}

#hot p {
font-family: "Cormorant SC", serif;
font-style: light;
text-transform: uppercase;
color: #000000;
margin: auto 0;
font-size: 18px;
}

@keyframes ticker {
  0% { transform: translateX(200%); }
  100% { transform: translateX(-120%); }
}

header {
  background-image: url(img/bg.png);
  background-size: cover;
}

.header__navigation {
  background-color: rgba(0, 0, 0, 1);
  opacity: 60%;
  height: 80px;

}

.navigation__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

#logo {
font-family: "Cormorant SC", serif;
font-style: normal;
font-weight: 200;
font-size: 36px;
color: #FCFCFC;
display: block;
max-width: 130px;
width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  font-size: 32px;
  font-weight: 100;
 
}

.nav__item:hover {
  transform: scale(104%);
  -webkit-transform: scale(104%);
  -moz-transform: scale(104%);
  -ms-transform: scale(104%);
  -o-transform: scale(104%);
}

#active {
  font-style: italic;
  font-weight: normal;
}

#navigation {
  max-width: 800px;
  width: 100%;
  margin: 0 20px;
}

.personal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 130px;
  width: 100%;
}

.personal img {
  cursor: pointer;
}

.personal img:hover {
  transform: scale(105%);
}

.cart__container {
  display: flex;
  position: relative;
}



#menu__button {
  display: none;
  width: 45px;
  cursor: pointer;
  
}

#menu__button:hover {
  transform: scale(105%);
}

#information {
  width: 660px;
  height:  440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #0000007b;
 
}

#information p {
  color: white;
  width: 80%;
  font-style: italic;
  font-weight: 600;
 
}

#information span {
  font-style: normal;
  font-weight: 100;
}

#information a {
  display: block;
  width: 70%;
}

button {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
  font: inherit;
  font-weight: 200;
  font-style: italic;
  color: white;
  border: none;
  border-radius: 34px;
  cursor: pointer;
 
}

button:hover {
  transform: scale(105%);
}

footer {
  background-color: #000000;
  color: #fff;
  font-weight: 200; 
}

footer p,a:hover {
  transform: scale(105%);
}

.footer__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Cormorant SC", serif;
font-style: normal;
font-weight: 200;
font-size: 36px;
color: #FCFCFC;
display: block;
max-width: 130px;
width: 100%;

}

.mapp {
  width:100%; 
  height:400px;
}

@media screen and (max-width: 1100px) {
  #navigation, .personal {
    display: none;
  }
  #menu__button {
    display: flex;
  }

  footer {
    font-size: 20px;
  }

  .card p {
    font-size: 20px;
  }
}

@media screen and (max-width: 750px) {

  header {
    background-image: url(img/bg.png);
    background-size: 200%;
  }

  p {
    font-size: 20px;
  }

  #information, #information a {
    width: 100%;
    height: auto;
    padding: 5px;
  }

  button {
    font-size: 20px;
  }

  .container {
    padding: 0 6px;
  }

  .carousel {
    padding: 10px 0 30px 0;
  }
  .swiper {
    width:100%;
    overflow: visible;
  }

  .goods__inner>a {
    width: calc(50% - 5px);
    min-width: 140px;
  }

  .footer__inner {
    flex-direction: column;
    padding: 10px 0;
  }
  .mapp {
    width:100%; 
    height:300px;
  }
}

h1 {
  font-size: 30px;
  padding: 20px 0;
}

.contacts__map--wrapper {
  margin: 50px 0;
}

.other__contacts--inner p {
  font-size: 24px;
  padding: 0;
  margin: 0;
  font-weight: 200;
}

.other__contacts--inner a {
  font-size: 24px;
  padding: 0;
  margin: 0;
  font-weight: 200;
}

.other__contacts--wrapper {
  margin: 50px 0;
}

